* {
  margin: 0;
  padding: 0;
}
*, 
*::before,
*::after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em){
  html{
    font-size: 60%;
  }
}

@media (max-width: 61.25em){
  html{
    font-size: 58%;
  }
}

@media (max-width: 28.75em){
  html{
    font-size: 55%;
  }
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

/*.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}*/



/*#page-wrapper {
  position: relative;
}*/

.navbar-custom{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  background: blue;
  z-index: 10;
  #margin: auto auto;
}

.navbar-nav {
  display: flex;
  list-style: none;
  #padding-left: #5rem;
  margin-right: 2rem;
}

nav  ul {
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  margin-right: 2rem;
}

/*nav li {
  margin: 0 2rem;
  display: flex;
}*/
 /*if faulty, revert back to max-width 28.75em*/
@media (max-width: 28.75em) {
  .navbar-custom {
    justify-content: center;
    font-size: 1rem;
  }

  .navbar-nav {
    margin: 0 1rem;
  }
  
  
  /*nav ul li a{
    font-size: 1rem;
    text-align: right;
    padding: .1rem;
  }*/
  
}

.navbar-nav a {
  display: block;
  color: white;
  #text-decoration: none;
  #cursor: pointer;
  padding: 1.5rem;
  #justify-content: space-around;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #42e6f5;
  padding: 1.5rem;
  
}

.btn{
  background: black;
  margin: 0 2rem;
  #display: flex; 
  color: white;
  outline:none;
}

.btn:hover {
  background-color: #42e6f5;
  outline: none;
  border: 2px solid white;
}

  


/*section{
  /*position: relative;
  display: flex;
  #position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 0;
  max-width: 100%;
}*/

h1{
  padding: 5rem;
}

.welcome-section{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #padding-top: #100px;
  height: 100vh;
  width: 100%;
  #background-color: black;
  #background-image: linear-gradient(75deg, black 0%, white 100%);
  background-color: black;
  background-image: linear-gradient(180deg, #3f4245 40%, black 100%);
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center;
  #rotate-function
 
}

.welcome-section h1:hover {
  #animation: roll 3s infinite;
  #transform: rotate(30deg);
  #transform: scale(1.5);
  opacity: .7;
  color: blue;
  text-shadow: 2px 2px 2px white;
}


@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.projects-section{
  #position: relative;
  #display: flex;
  #flex-direction: column;
  #background-color: #03f2ff/*white*/;
  text-align: center;
  background-color: #4a60a8;
  height: 100%;
  #height: 100%;
  width: 100%;
  padding: 10rem 2rem;
  
}

.projects-section-header {
  #position: relative;
  #display: flex;
  #flex-direction: column;
  #margin-top: #3rem;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  #padding-top: #25px;
  #padding-bottom: #25px;
  color: white/*#42e6f5*/;
  font-size: 2.5em;
  font-weight: 700;
  border-bottom: .4rem solid white;
}

@media (max-width: 28.75em){
  .projects-section-header{
    font-size: 4rem;
  }
}

.projects-grid{
  #position: relative;
  display: grid;
  #grid-template-columns: auto #auto #auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  z-index: 1;
  #margin: #0 #5rem;
  margin: 0 auto;
 #grid-gap: 2.5rem 5rem;

  text-decoration: none;
  list-style: none;

  /*remove margin bottom if flawed*/
  margin-bottom: 5rem;

}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 7rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}


.project-tile {
  #position: relative;
  #display: flex;
  #flex-direction: column;
  #background-color: red;
  background-color: #546f85;
  text-decoration: none;
  list-style: none;
  #width: 100%;
  #height: 100%;
  border: 5px solid black;
  
}

.project-tile:hover{
  background-color: #42e6f5;
  border: 5px solid white;
  font-weight: 900;
}


a {
  text-decoration: none;
  list-style: none;
}


#projects-grid p {
  text-decoration: none;
  list-style: none;
}

.project-tile-box{
  width: 100%;
  object-fit: cover;
  #height: 80%;
  height: calc(100% - 6.8rem);

  
}

.project-title{
  #display: flex;
  #position: relative;
  #flex-direction: column;
  font-size: 2rem;
  padding: 2rem .5rem;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  height: auto;
  #width: 100%;
  #margin: auto auto;
  #text-decoration: none;
  #list-style: none;
  
}

.project-title:hover {
  text-decoration: none;
  color: black;
  text-decoration: none;
  list-style: none;
}

.more-projects-tile{
  margin: 2rem auto;
  text-decoration: none;
  list-style: none;
}
.more-projects{
  #height: auto;
  #display: flex;
  #flex-direction: column;
  #position: relative;
  #background-color: red;
  background-color: #546f85;
  max-width: 20rem;
  #align-text: center;
  margin: 2rem auto; 
  #15rem
  color: white;
  #padding: 0rem;
  font-size: 2.5rem;
  border:  5px solid black;
  padding-bottom: 0rem;
 }




.btn-custom {
  background: #546f85;
  padding: 1rem;
  #margin: 0 2rem;
  #display: flex; 
  color: white;
  outline:none;
  border: 5px solid black;
  font-size: 1em;
  font-weight: 700;
}

.btn-custom:hover{
  background-color: #42e6f5;
  transform: translateY(5px);
  color: black;
  border: 5px solid white;
}


/*.more-projects-tile{
  background-color: red;
  width: 100%;
  height: 50%;
  #margin: 10rem auto;
  color: white;
  #padding: 2.5rem;
  font-size: 2.5rem;
  border:  5px solid black;
}*/
/* delete immediately if this does not resolve issue*/

.more-projects p {
  align-items: center;
  align-text: center;
  margin: auto auto;
  
}

.more-projects:hover {
  background-color: black;
  color: white;
}
.contact-section {
  #position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  background-image: linear-gradient(180deg, #3f4245 40%, black 100%);
  align-items: center;
  #height: 80vh;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.contact-section-header {
  padding: 0rem;
  margin-top: 7rem;
}

.contact-section-header > h2{
  #margin-top: 0;
  #padding-top: 20%;
  #font-size: 2.5em;
  #font-weight: 700;
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
.contact-reach-me {
  font-size: 2rem;
  padding: 2rem 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  #justify-content: flex-end;
  width: 100%;
  #padding-top: 1%;
  #padding-bottom: 1%;
  max-width: 100%; #980px
  margin-top: 4rem;
  flex-wrap: wrap;
  /* try differenet tactics to space the icons better*/
  padding: 1rem;
}

.contact-details {
  height: auto;
  width: auto;
  transition: transform 0.3s ease-out;

}

.contact-details:hover {
  transform: translateY(5px);
}

#contact-section a {
 margin-top: 3rem;
}



#comments {
  color: black;
}

.comment {
  
  justify-content: center;
  #width: 100%;
  #margin: auto;
  align-items: center;
  #margin: #20rem;
  background: black;
  align-items: center;
  text-align: center;
  padding: 15rem 0rem;
}

submit {
  
  color: black;
}


/* try different methods to find better spacing for the icons horizontally and vertically*/
.icon{
  color: grey;
  font-size: 5rem;
  font-weight: 700;
  justify-content: space-evenly;
}

.icon:hover{
  color: black;
}

.icon-spec {
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  #padding: 2rem;
}

.icon-spec:hover {
  color: white;
}

.text-entry {
  display: flex;
  flex-direction: column;  
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 4px solid blue;
  margin: auto;
 }




.submit-button{
  outline: none;
  background: white;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  #display: flex;
  #flex-direction: column;
  #width: 25%;
  
  border: 4px solid blue;
  font-weight: 700;
  text-align: center;
  margin: 1rem auto;
  
}

@media (min-width: 900px){
  .submit-button{
    width: 10%;
  }
}

.submit-button:hover{
  background-color: #42e6f5;
  text-decoration: none;
  border: 5px solid white;
}



footer {
  font-weight: 500;
  diplay: flex;
  #position: relative;
  justify-content: space-evenly;
  #height: 20vh;
  #width: 100%;
  color: white;
  background-color: black;
  #background-image: linear-gradient(180deg, #3f4245 40%, black 100%);
  padding: 2rem;
  border-top: 5px solid blue;
  text-align: center;
}

.footer-notes {
  margin: 2rem;
  font-weight: 700;
}

footer i {
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
