html{
  background-color: black;
}

h1 {
  #background-color: white;
  padding: 5rem;
}

h1 p {
  color: white;
}

section { 
  justify-content: center;
  align-items: center;
  text-align: center;
}


.return-home {
  position: fixed;
  font-weight: 700;
  justify-content: center;
  width: 100%;
  #border: 5px solid black;
}

.btn {
  margin: auto auto;
  height: 100%;
  width: auto;
  background: blue;
}
